<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mike's high peaks</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body ng-app="peaks">

    <div class="container" ng-controller="PeaksCtrl">

      <table class="table table-striped">
        <thead>
          <tr>
            <th ng-click="fetchBy('id')">ID</th>          
            <th ng-click="fetchBy('rank')">Rank</th>
            <th ng-click="fetchBy('mountain')">Mountain</th>
            <th ng-click="fetchBy('elevation')">Elevation</th>
            <th ng-click="fetchBy('date')">Date</th>
            <th ng-click="fetchBy('companions')">Companions</th>
          </tr>
        </thead>
        <tbody>
          
          <tr ng-repeat="peak in peaks" ng-class="{success: peak.date}">
            <td>{{peak.itemId}}</td>
            <td>{{peak.rank}}</td>
            <td>{{peak.mountain}}</td>
            <td>{{peak.elevation}}</td>
            <td>{{peak.date}}</td>
            <td><span ng-repeat="companion in peak.companions"><a ng-click="setCompanionFilter(companion)">{{companion}}</a></span></td>
          </tr>

        </tbody>
      </table>

      here - {{dbData}}
    </div>

    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
    <script src="app.js"></script>
  </body>
</html>
