<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mike's high peaks</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <style>
      a { cursor: pointer; }
    </style>
  </head>
  <body ng-app="peaks">

    <h1 class="text-center">Mike's High Peaks</h1>

    <div class="container" ng-controller="PeaksCtrl">

      <!-- Filters -->
      <a class="pull-right" ng-click="toggleFilters()">{{filterAction}} Filters</a>
      <div ng-show="filterAction === 'Hide'">
        <div class="row">
          <label class="col-md-2" for="inputQuery">Search</label>
          <input class="col-md-6" type="text" id="inputQuery" ng-model="query"/>
        </div>
        <div class="row">
          <label class="col-md-2" for="inputPeakRank">Peak Ranking</label>
          <div class="col-md-6" id = "inputPeakRank" range-slider min="ranks.floor" max="ranks.ceiling" model-min="rankFilter.min_value" model-max="rankFilter.max_value"></div>
        </div>
        <div class="row">
          <label class="col-md-2" for="inputElevation">Elevation</label>
          <div class="col-md-6" id = "inputElevation" range-slider min="elevations.floor" max="elevations.ceiling" model-min="elevationFilter.min_value" model-max="elevationFilter.max_value"></div>
        </div>
        <div class="row">
          <label class="col-md-2" for="inputDateMin">Date</label>
            <input class="col-md-2" id="inputDateMin" type="date" ng-model="dateFilter.min_value" min="{{dates.floor | date:'yyyy-MM-dd'}}" max="{{dates.ceiling | date:'yyyy-MM-dd'}}" />
            <span class="col-md-1">to</span>
            <input class="col-md-2" id="inputDateMax" type="date" ng-model="dateFilter.max_value" min="{{dates.floor | date:'yyyy-MM-dd'}}" max="{{dates.ceiling | date:'yyyy-MM-dd'}}"/>
        </div>

        <div class="row">
          <button class="col-md-offset-2" ng-click="performSearch()">Apply Filters</button>
        </div>
       </div>
       <!-- /Filters -->

      <table class="table table-striped">
        <thead>
          <tr>
           <!--  <th ng-click="setSort('id')">ID</th>           -->
            <th ng-click="setSort('Rank')">Rank</th>
            <th ng-click="setSort('Mountain')">Mountain</th>
            <th ng-click="setSort('Elevation (feet)')">Elevation</th>
            <th ng-click="setSort('Ascent Date')">Date</th>
            <th ng-click="setSort('Companions')">Companions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="peak in peaks" ng-class="{success: peak.date}">
           <!--  <td>{{peak.itemId}}</td> -->
            <td>{{peak.rank}}</td>
            <td>{{peak.mountain}}</td>
            <td>{{peak.elevation}}</td>
            <td>{{peak.date | date}}</td>
            <td>
              <span ng-if="peak.companions[0] !== ''" ng-repeat="companion in peak.companions"><a ng-click="setCompanionFilter(companion)">{{companion}}</a><span ng-if="!$last">, </span></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div ng-if="filterCount !== totalCount">
        Showing {{filterCount}} of {{totalCount}} <a ng-click="resetFilters()">Clear Filters</a>
      </div>
      <input type="checkbox" id="showRaw" name="showRaw" ng-model="showRaw" class="pull-right"/>
      <div ng-show="showRaw">{{dbData}}</div>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
    <script src="angular.rangeSlider.js"></script>
    <script src="app.js"></script>

    <link href="angular.rangeSlider.css" rel="stylesheet" />
  </body>
</html>
